<!DOCTYPE html>
<html lang="en" style="font-size: 10px">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Big Dreams Club</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>

    <script>
      window.addEventListener("scroll", function () {
        // current scroll position
        const currentScrollPos = window.pageYOffset;
        console.log("wwww");
        if (currentScrollPos > 400) {
          // user has scrolled up
          document.querySelector(".header").classList.add("showheader");
        } else {
          // user has scrolled down
          document.querySelector(".header").classList.remove("showheader");
        }
        // update previous scroll position
        prevScrollPos = currentScrollPos;
      });
    </script>
  </head>
  <body>
    <div
      id="whole-fuggin-container"
      style="background-color: beige; width: 100vw; padding: 0px"
    >
      <div class="header">
        <div class="header-logo-container">
          <img class="header-logo" />
        </div>

        <button class="header-contact">Contact Me</button>
      </div>
      <div class="body-container">
        <div class="section-landing landing-image">
          <div class="landing-pfp flexdisplayting">bigg picta</div>
          <div class="landing-logo flexdisplayting">beeeeg logo</div>
          <div class="landing-splash flexdisplayting">
            <p class="splash-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
              a deleniti, ad assumenda aliquam.
            </p>
          </div>
        </div>
        <div class="section-projects-dt">
          <div class="project-photo"></div>
          <div class="project-desc"></div>
        </div>
        <div class="section-projects-mb">
          <div class="project-photo"></div>
          <div class="project-desc"></div>
        </div>
        <div class="section-otherstuffs"></div>
      </div>
      <div class="footer">
        <p>©2024 Big Dreams Club. All Rights Reserved</p>
      </div>
    </div>
  </body>
</html>
